<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <!-- mini profile and stats -->
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- feed -->
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>