<%= tweet.author.user_name %><br>
<%= tweet.elapsed_time %><br>
<%= tweet.content %><br>
<% if tweet.author.id == current_user.id %>
<!-- show delete buttons -->
<form action='/tweets/<%= tweet.id %>' method='POST'>
  <input type='hidden' name='_method' value='DELETE'>
  <input type='submit' value='delete'>
</form>
<% end %>
