<div class='container'>
  <h2>Sign up:</h2>
  <form action='/signup' method='POST'>
    Username:<br>
    <input type='text' name='user[user_name]'><br>
    Password:<br>
    <input type='password' name='user[password]'><br>
    Confirm Password:<br>
    <input type='password' name='user[password_confirmation]'><br>
    <input type='submit' value='sign up'>
  </form>
</div>
