/* notes
space gray #a5adb0
dark turquoise #00475A
sky blue #0DABE7
light green #00a669
dirty yellow #FFCC00
*/

* {
  color: #0DABE7;
}

a:hover {
  color: #0DABE7;
}

body {
  font-family: Josefin Slab;
  background: url("../img/dark_wood.png");
}

.container {
  background: url("../img/pw_maze_black.png");
  margin: 20px auto;
  width: 60%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: #a5adb0;
}

.profile-pic {
  display: block;
  margin: auto;
  margin-top: 2em;
  height: 10em;
  width: 10em;
}

.profile-pic-thumb {
  height: 2em;
  width: 2em;
}

#mini-profile-details {
  margin-top: 1em;
  margin-left: 2em;
}

#mini-profile-wrapper {
  max-width: 8em;
}

ul {
  list-style-type: none;
}

.single-tweet {
  background-color: black;
  border: 1px solid #a5adb0;
  border-radius: .5em;
  margin-top: 2em;
  max-width: 80%;
  padding: 1em;
}

.elapsed-time {
  display: inline-block;
  float: right;
}
.pic {
  display: inline-block;
}

.delete-button {
  float: right;
  display: inline-block;
  padding: 0;
  width: 1.3em;
  height: 1.3em;
}
