<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">The Twitter</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <% if logged_in? %>
        <li><a href="/user/<%= current_user.id %>">Profile</a></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !logged_in? %>
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% else %>
        <li><a href='/logout' method='POST'>Logout</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>
